@font-face {
  font-family: 'helveticaBold';
  src: url(../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.otf); }

@font-face {
  font-family: 'helveticaMedium';
  src: url(../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.otf); }

@font-face {
  font-family: 'helveticaBlack';
  src: url(../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Black.otf); }

@font-face {
  font-family: 'helveticaHeavy';
  src: url(../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Heavy.otf); }

@font-face {
  font-family: 'helveticaLight';
  src: url(../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.otf); }

@font-face {
  font-family: 'helveticaRoman';
  src: url(../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.otf); }

@font-face {
  font-family: 'helveticaThin';
  src: url(../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Thin.otf); }

@font-face {
  font-family: 'helveticaUltraThin';
  src: url(../fonts/HelveticaNeueCyr/HelveticaNeueCyr-UltraLight.otf); }